﻿@model WebApplication4.Models.SchoolSystem

@{
    if (Model.StudentList.Count > 0)
    {
        string str = string.Empty;
        <style>
           

            textarea {                
                width:736px;
                height: 200px;
            }
  </style>

        foreach (var student in Model.StudentList)
        {
            str = str + Environment.NewLine + @student.Name + Environment.NewLine +
                @student.Type + Environment.NewLine + @student.Phonenumber +
                Environment.NewLine + @student.Addressobj.Line1 + Environment.NewLine +
                @student.Addressobj.Line2 + Environment.NewLine + @student.Addressobj.State +
                @student.Addressobj.Zip + Environment.NewLine + @student.Id + Environment.NewLine;

        }
        <div id="div_Students">

            <textarea readonly >@str</textarea>

        </div>

    }



}
