﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <button id="btn_GetData">GetStudentData</button>
</div>

<div class="row" id="div_StudentData">
</div>
<br/>
<div>
    <button id="btn_Close" class="hidden">CloseData</button>
</div>

<script type="text/javascript" src="~/Scripts/Student.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>